.flairselector {
  border-radius: @default-border-radius;
  box-shadow: @default-box-shadow;

  &:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: @default-transparent-white;
    content: "";
    cursor: default;
    transition: all @default-transition-time ease;
    pointer-events: none;
  }

  .customizer {
    vertical-align: middle;
    margin-right: 5px;
  }

  .flairoptionpane {
    text-align: left;
  }

  h2 {
    color: @base-font-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: @base-font-size;
    padding: 5px;
    background: white;
    border-bottom: 1px solid @theme-primary;
  }

  li {
    padding: 5px;
    border-radius: @default-border-radius;

    &:hover {
      background: @almost-white;
    }
  }

  form {
    border-top: 1px solid @theme-primary;

    // (almost) same styling as fancy-toggle-button
    button {
      .default-button;
    }
  }
}
