.commentarea {
  .comment a.expand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 4px 0;
    height: 100%;
    opacity: .5;
    box-sizing: border-box;
    transition: .2s;

    &:hover {
      opacity: 1;
      color: #fff;
      border-radius: 4px;
      text-decoration: none;
      font-weight: 700
    }
  }

  > .usertext {
    background: #f8f8f8;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    overflow: visible;
    margin: 0 0 10px;
    padding: 10px;
  }

  .panestack-title {
    border-bottom: 0;

    .title {
      color: #4d5763;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
    }
  }

  .menuarea {
    margin-left: 22px;
    text-transform: uppercase;
    font-size: 12px;
    overflow: visible;
  }

  .thing {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 0 8px;
    padding: 16px 16px 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);

    &.collapsed {
      padding: 10px 15px;
    }
  }

  .child .thing {
    box-shadow: none;
    padding: 4px;
    border: 1px solid #fff;
  }

  span.score {
    font-weight: 700;
    color: @royal-blue;
  }

  textarea {
    &:not(:focus):not(:hover) {
      background-color: #f8f8f8 !important;
    }

    &:hover {
      border-bottom: 1px solid #999;
    }
  }
}
