.combined-search-page {
  .searchfacets {
    margin: 0;
    max-width: none;

    > h4.title {
      color: #444;
    }
  }

  .search-result {
    border-bottom: 1px solid #e1e1e1;
  }

  .search-result-subreddit .search-subscribe-button {
    .add,
    .remove {
      width: auto;
    }
  }
}
