.commentarea {
  .template-content-margin;

  .comment {
    .flat-list li a {
      &[onclick*=reply] {
        font-weight: 700;
        color: @royal-blue;
      }
    }
    .midcol {
      width: 20px;
    }
  }

  .panestack-title {
    border-bottom: 0;

    .title {
      color: #4d5763;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
    }
  }

  .menuarea {
    margin-left: 22px;
    text-transform: uppercase;
    font-size: 12px;
    overflow: visible;
  }

  .md blockquote,
  .md ul,
  .thing .md ol,
  .thing .md table {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 10px 10px
  }

  .md blockquote {
    padding: 10px;
    border-left: solid 2px #666;
    background-color: #f2f2f2;
    color: #2f2f2f;
    line-height: 20px;
    font-size: 14px
  }

  .md ul,
  .thing .md ol {
    border-right: solid 1px #eaeaea;
    border-left: solid 1px #eaeaea;
    border-top: solid 1px #eaeaea;
    line-height: 20px;
    font-size: 14px;
    padding: 0
  }

  .md ul li,
  .thing .md ol li {
    border-bottom: solid 1px #eaeaea;
    background-color: #f8f8f8;
    padding: 5px
  }

  .md ul:nth-child(odd),
  .thing .md ol li:nth-child(odd) {
    background-color: #f2f2f2
  }

  .md ul {
    list-style: none
  }

  .thing .md ol {
    list-style-position: inside
  }

  .thing .md table thead tr th {
    font-weight: 400;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    border: none
  }

  .thing .md table thead tr th {
    border-bottom: solid 1px #eaeaea
  }

  .thing .md table tbody tr td {
    padding: 10px 20px;
    border: none
  }

  .thing {
    position: relative;
    border-radius: @default-border-radius;
    background-color: #fff;
    margin: 0 0 8px;
    padding: 16px 16px 1px;
    box-shadow: @default-box-shadow;

    &.collapsed {
      padding: 10px 15px;
    }
  }

  .child .thing {
    box-shadow: none;
    padding: 4px;
    border: 1px solid #fff;
  }

  span.score {
    font-weight: 700;
    color: @royal-blue;
  }

  textarea {
    &:not(:focus):not(:hover) {
      background-color: #f8f8f8 !important;
    }

    &:hover {
      border-bottom: 1px solid #999;
    }
  }
}
