.combined-search-page {
  .searchfacets {
    margin: 0 !important;
    max-width: none !important;

    > h4.title {
      color: #444
    }
  }

  //.search-result-group {
  //  padding-left: 0;
  //  padding-right: 0;
  //  max-width: 100%;
  //
  //  .search-result-group-header {
  //    color: inherit;
  //    margin-bottom: 20px;
  //    margin-top: 20px;
  //    padding: 15px 30px;
  //    text-transform: uppercase;
  //    font-weight: 700;
  //    background: #eee;
  //    border-top: 1px solid #e1e1e1;
  //    border-bottom: 1px solid #e1e1e1
  //  }
  //}

  .search-result {
    //margin-bottom: 25px;
    //margin-top: 10px;
    //padding: 0 30px 20px;
    border-bottom: 1px solid #e1e1e1
  }

  //.searchpane {
  //  background: #444
  //}

  //#search input[type=text] {
  //  max-width: none;
  //  color: #fff !important
  //}

  //.search-icon {
  //  background-size: 30px 30px;
  //  height: 30px;
  //  width: 30px
  //}

  //.search-submit-button {
  //  background: 0 0;
  //  border: none;
  //  float: left;
  //  margin-top: -45px;
  //  margin-left: -25px
  //}

  .search-result-subreddit .search-subscribe-button {
    .add,
    .remove {
      width: auto;
    }
  }

  .search-result {
    //.search-result-body {
    //  font-size: 1em;
    //  line-height: 1.25em;
    //  color: #4f4f4f;
    //  padding: 10px 0;
    //  width: 800px
    //}

    //a,
    //a > mark {
    //  color: inherit;
    //  line-height: inherit;
    //}

    //.search-result-meta,
    //.search-score {
    //  font-size: 10px;
    //  line-height: 2em;
    //  color: grey;
    //  padding: 8px 0 0;
    //  font-weight: 700;
    //  text-transform: uppercase
    //}
  }
}
