.combined-search-page {
  .searchfacets {
    margin: 0;
    max-width: none;

    > h4.title {
      color: #444;
    }
  }

  .search-result {
    background: white;
    box-shadow: @default-box-shadow;
    padding: @base-margin;
  }

  .search-result-subreddit .search-subscribe-button {
    .add,
    .remove {
      width: auto;
    }
  }
}
