@dark-bg: #222;
@dark-content-bg: #333;

@dark-header-gradient-start: #363842;
@dark-header-gradient-end: #414140;

@dark-primary: #565555;
@dark-secondary: #6f6e6e;

@dark-font-color: #e6e6e7;
@dark-link: #369;
@dark-link-lighter: #5b84ad;

@dark-side-link: #7ddc1f;

/* stylelint-disable declaration-no-important */
html[lang=dm] {
  body {
    background: @dark-bg;
    color: @dark-font-color;
  }

  .link {
    background: @dark-content-bg !important;

    .score {
      &.likes,
      &.dislikes {
        color: @dark-font-color;
      }
    }
  }

  .flair {
    color: @dark-font-color;
  }

  .arrow {
    &.upmod,
    &.downmod {
      background-color: transparent;
    }
  }

  #header:after {
    background: linear-gradient(to bottom, @dark-header-gradient-start, @dark-header-gradient-end);
  }

  .thing .title {
    color: @dark-font-color;
  }

  .spoiler-stamp {
    color: @dark-font-color;
  }

  .morelink {
    background: @dark-link;

    &:hover {
      background: @dark-link-lighter;
    }
  }

  .thing.stickied.link a.title {
    color: @dark-side-link;
  }

  #searchexpando {
    background: @dark-content-bg;
  }

  .md .del {
    color: #ccc;
  }

  .link .entry .buttons li a {
    color: #ccc;
  }

  body:not(.comments-page) .stickied .entry .buttons li a {
    color: @dark-side-link;
  }

  body:not(.comments-page) .stickied .tagline {
    color: @dark-side-link;
  }

  .side {
    .titlebox,
    .sidecontentbox {
      background: @dark-content-bg;
    }

    .titlebox {
      a {
        color: #a4d11b;
      }

      .md h3 a {
        background: @dark-link;
        color: @dark-font-color;

        &:hover {
          background: @dark-link-lighter;
        }
      }

      .fancy-toggle-button .add {
        background: #444;
        color: #ccc;
      }

      .fancy-toggle-button .remove {
        background: @dark-link;
        color: #ccc;
      }
    }

    .md {
      h2 {
        background: @dark-bg;

        & + ul {
          background: #444;
        }
      }
    }

    .sidecontentbox {
      a {
        color: #ccc;
      }

      .title h1 {
        color: @dark-font-color;
      }
    }
  }

  .titlebox form.toggle,
  .leavemoderator {
    color: inherit;
  }

  #RESShortcutsAdd,
  #RESShortcutsLeft,
  #RESShortcutsRight,
  #RESShortcutsSort,
  #RESShortcutsTrash,
  .tagline a {
    color: @dark-font-color;
  }

  .entry .buttons .may-blank,
  .link .tagline,
  form#image-upload.image-upload {
    color: @dark-font-color;
  }

  .md {
    color: @dark-font-color;
  }

  body:not(.search-page) #search input[type=text] {
    background: @dark-bg;
    border: 1px solid #444;
    color: @dark-font-color;
  }

  #siteTable .nav-buttons {
    background: @dark-content-bg;
  }

  .debuginfo,
  .footer-parent {
    background: black;
  }

  .footer-parent {
    margin-bottom: auto;
    height: auto;
  }

  .footer {
    background: none;
    box-shadow: none;

    .flat-vert {
      .title {
        color: @dark-font-color;
      }

      li {
        a:not(.buygold) {
          color: #999;

          &:hover {
            color: @dark-font-color;
          }
        }
      }
    }
  }

  .bottommenu {
    color: @dark-font-color;
    text-shadow: none;
  }

  .commentarea .thing {
    background: @dark-content-bg !important;
  }

  .reddit-infobar {
    background: @dark-content-bg;
  }

  .formtabs-content {
    .infobar {
      background: @dark-content-bg;
      color: @dark-font-color;
    }
  }

  .roundfield {
    background: @dark-content-bg;

    .title {
      color: @dark-font-color;
    }

    input,
    textarea {
      background-color: @dark-bg;
      color: @dark-font-color;
      border: 1px solid #666;
    }
  }

  .submit-page {
    .content {
      a {
        color: #999;
      }
    }
  }

  .content.submit .info-notice {
    background: @dark-content-bg;

    a {
      color: #999;
    }
  }

  #newlink-with-image-upload .image-upload-drop-target {
    background: @dark-content-bg;
  }

  .tagline, .search-result-meta {
    color: @dark-font-color;
  }

  .tagline {
    .author {
      color: @dark-font-color !important;
    }
  }

  .combined-search-page .search-result {
    background: @dark-content-bg;

    .search-result-header .search-title {
      color: @dark-font-color;
    }

    a,
    a>mark,
    .search-result-footer .search-link,
    .search-comments {
      color: @dark-link-lighter;
    }
  }

  .flairselector:before {
    display: none;
  }

  .wiki-page .wiki-page-content {
    .wiki.md {
      color: @dark-font-color;

      a {
        color: @dark-link-lighter;
      }

      h2 {
        color: @dark-font-color;
      }
    }

    hr {
      background: @dark-font-color;
    }
  }

  #sr-header-area {
    background: @dark-bg;
  }

  .side .md>ol:last-of-type {
    border-color: @dark-bg;

    &:before {
      background: @dark-bg;
    }
  }

  .commentarea .comment .flat-list li a[onclick*=reply] {
    color: @dark-font-color;
  }

  .new-comment .usertext-body {
    background-color: #555;
  }

  .res-nightmode {
    .RES-keyNav-activeElement {
      background: none !important;
    }
  }
}
/* stylelint-enable */
