.footer-parent {
  background-color: @base-font-color;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 300px
}

.footer {
  border: 0;

  .col {
    margin: 10px 0 30px
  }

  .flat-vert {
    li a {
      font-size: 11px;
      color: #999 !important;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        text-decoration: none !important;
        color: #fff !important
      }
    }

    .title {
      font-size: 16px;
      transition: color .25s ease, background-color .25s ease;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
