.link {
  background: white;
  margin-bottom: 1px;

  .usertext .md {
    border: 1px solid #e1e1e1;
  }

  .usertext-body .md {
    border: none;
    background: 0 0;
  }

  .score {
    &.likes {
      color: @theme-primary;
    }

    &.dislikes {
      color: @theme-secondary;
    }
  }

  .entry {
    padding: 10px;

    .buttons {
      .may-blank {
        font-weight: bold;
        color: @royal-blue;
      }

      li {
        a,
        + li {
          font-weight: 500;
        }
      }
    }
  }

  &.last-clicked {
    border: none;
  }

  .thumbnail {
    margin: 10px 5px 10px 0;
    width: 75px;

    &.self,
    &.default,
    &.nsfw {
      background-size: 75px 753px;
      background-image: url(%%spritesheet%%);
      background-repeat: no-repeat;
      height: 50px;
      padding: 10px 0;
      border-radius: @default-border-radius * 2;
    }

    &.self {
      background-position: 0 -345px;
    }

    &.default {
      background-position: 0 -426px;
    }

    &.nsfw {
      background-position: 0 -506px;
    }
  }

  &.stickied {
    .thumbnail.self {
      background-position: 0 -265px;
    }
  }

  .midcol {
    margin: 10px 15px;

    .score {
      margin: 4px 0;
    }
  }
}
