.link {
  //padding: @base-margin;
  //display: flex;
  background: #fff;
  margin-bottom: 1px;

  .tagline {
    color: #666;
    font-size: 12px;
    margin-top: 3px;
  }

  .title {
    font-weight: 400;

    .domain {
      color: #999;
      font-size: 0;
      font-weight: 400;

      &:before {
        font-size: 12px;
      }

      a {
        font-size: 12px;
        margin-left: 1px;
        margin-top: -10px;
      }
    }
  }

  .usertext .md {
    border: 1px solid #e1e1e1
  }

  .usertext-body .md {
    border: none !important;
    background: 0 0 !important
  }

  .score {
    &.likes {
      color: #ff5f3f
    }

    &.dislikes {
      color: #2b9bdb
    }
  }

  .entry {
    padding: 10px;

    .buttons {
      .may-blank {
        font-weight: 700;
        color: @royal-blue;
      }

      li {
        a,
        + li {
          font-weight: 500;
        }
      }
    }
  }

  .domain {
    visibility: hidden;

    a {
      visibility: visible;
      color: #b3b3b3;
      transition: all .15s ease;

      &:hover {
        font-weight: 700;
        text-decoration: none;
        transition: 0.2s;
      }
    }
  }

  &.last-clicked {
    border: none;
  }

  .expando-button.selftext {
    &,
    &.expanded,
    &.expanded:hover,
    &:hover {
      background-image: url(%%spritesheet%%);
      background-size: 50px 502px;
      background-position: 0 -482px;
      width: 20px;
      height: 20px;
      transition: @default-transition-time / 2;
    }

    &.expanded {
      transform: rotate(45deg);
    }

    &.expanded:hover,
    &:hover {
      opacity: 0.5;
    }
  }

  .thumbnail {
    margin: 10px 5px 10px 0;
    //margin: 0 15px;
    width: 75px;
    //text-align: center;
    //align-self: center;

    &.self,
    &.default,
    &.nsfw {
      background-size: 75px 753px;
      background-image: url(%%spritesheet%%);
      background-repeat: no-repeat;
      height: 50px;
      padding: 10px 0;
      border-radius: @default-border-radius * 2;
    }

    &.self {
      background-position: 0 -345px;
    }

    &.default {
      background-position: 0 -426px;
    }

    &.nsfw {
      background-position: 0 -506px;
    }
  }

  &.stickied {
    .thumbnail.self {
      background-position: 0 -265px;
    }
  }

  .midcol {
    margin: 10px 15px;

    .score {
      margin: 4px 0;
    }
  }
}
