// RES = Reddit Enhancement Suite
// https://www.reddit.com/r/enhancement

body.res {
  #sr-header-area .sr-bar a.RESShortcutsCurrentSub {
    color: #fff !important;
  }
  #header-bottom-right #mail.havemail {
    top: -1px !important
  }
  .side .RESshortcutside.remove:hover {
    background: #6687e7;
  }
}

.res {
  h1.redditname {
    overflow: visible;
  }

  .titlebox .fancy-toggle-button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 0;
    width: auto
  }

  .fancy-toggle-button {
    .add,
    .remove {
      font-size: 9px;
      border: none;
      text-transform: uppercase;
      transition: 0.2s;
      background-image: none;
      padding: 5px 8px;
      border-radius: @default-border-radius;
    }
  }

  #RESShortcutsViewport {
    margin-right: 70px
  }

  .comments-page .side {
    margin: 275px 16px 100px
  }

  .content .RESBigEditorPop {
    font-size: smaller;
    color: #666;
    padding: 0;
    margin: 0 0 0 10px;
    background: none;
  }

  .commentarea {
    .thing {
      padding: 15px 15px 0 !important;
    }

    .entry .flat-list {
      padding-bottom: 8px;
    }

    .comment a.expand:hover {
      border-radius: @default-border-radius 0 0 @default-border-radius;
    }
  }

  .comment.noncollapsed .midcol {
    margin-left: 10px;
  }

  #RESShortcutsEditContainer,
  #sr-more-link {
    background: 0 0
  }

  #userbarToggle {
    width: 11px;
    height: 48px;
    background-color: transparent;
    border: none;
    line-height: 47px;
    color: #fff;
    padding-left: 5px;
    padding-right: 8px;
    margin-left: -6px;
    transition: all .2s ease 0s;
    bottom: 2px;
    border-radius: 0;
    margin-bottom: -15px;

    &:hover {
      background-color: rgba(255, 255, 255, .1)
    }
  }

  #header-bottom-right {
    #modmail {
      top: -4px !important;
    }
    .gearIcon {
      background-position: 0 -152px !important
    }
  }

  #modmail.havemail,
  #modmail.nohavemail {
    margin-bottom: -6px !important
  }
}

.RESSubscriptionButton {
  background: @royal-blue;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-left: 15px;
  padding: 5px !important;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 0 solid #ccc;
  border-radius: @default-border-radius;
  transition: .25s ease;

  &:hover {
    background: #6687e7;
    color: #fff;
  }

  &:active {
    background: @endeavour;
    color: #fff;
  }
}

#RESShortcutsAdd,
#RESShortcutsLeft,
#RESShortcutsRight,
#RESShortcutsSort,
#RESShortcutsTrash {
  height: 25px;
  line-height: 25px !important;
  margin-right: 4px;
  background: 0 0 !important;
  color: #fff !important
}

#RESPrefsDropdown {
  background-color: rgba(0, 0, 0, .85) !important;
  border: none;
  border-radius: @default-border-radius;
}

#RESMainGearOverlay {
  display: none !important;
}

.RESDropdownList {
  li {
    text-transform: uppercase;
    background-color: transparent;
    color: #fff !important;
    border: none !important;
    transition: all .15s ease;

    a:hover,
    &:hover {
      background-color: rgba(80, 80, 80, .6) !important;
      color: #fff !important
    }
  }
}

.RESshortcutside,
.RESDashboardToggle {
  font-size: 9px;
  border: none;
  text-transform: uppercase;
  transition: 0.2s;
  padding: 5px 8px;
  border-radius: @default-border-radius;
  background: #80d04b;

  &:hover {
    background: #a6de81;
  }

  &:active {
    background: #599134;
  }

  &.remove {
    background: @royal-blue;

    &:hover {
      background: #6687e7;
    }

    &:active {
      background: @endeavour;
    }
  }
}

div#RESStyleSheetTipPane,
div#RESStyleSheetTipPane-header {
  border: none !important
}

.RESDialogSmall.livePreview {
  margin: 15px 0;
}
