.search-page {
  .menuarea {
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: none;
    padding: 5px 10px;
    margin: -45px 5px 5px;
    font-weight: bold;
    position: absolute;
    top: 418px;
  }

  a#search_showmore {
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    color: #999;
    font-weight: bold;
    right: 13px;
  }

  .searchfacets {
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    background: #e0e0e0;
    color: #434343;
    padding-left: 20px;
  }
}

.search-result-footer {
  white-space: normal;
}
