// Sidebar (at the side obviously...)

.side {
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  padding: 0;
  margin: 115px 16px 100px;
  width: 300px;
  background: #fff;

  &:before {
    content: "";
    display: block;
    background: url(%%biglogo%%) center no-repeat;
    padding-top: 300px;
  }

  .submit-link,
  .submit-text {
    margin-left: 12px;
    margin-right: 12px;
  }

  .titlebox {
    text-align: center;
    padding: 12px;

    .fancy-toggle-button {
      margin: 4px auto;
      width: 100%;
      transition: .3s;
    }

    .number,
    .subscribers,
    .users-online {
      font-size: 12px;
    }

    .users-online,
    .subscribers {
      color: #999;
      margin: 4px auto;
    }

    .users-online {
      &:before {
        display: none;
      }

      .number {
        font-style: italic;
      }
    }

    .redditname {
      font-weight: 400;
    }

    .bottom {
      display: none;
    }

    .md {
      h3 a,
      h4 a {
        border-radius: 4px;
        padding: 8px 0;
        color: #fff;
        font-weight: 700;
        text-align: center;
        font-size: 12px;
        display: block;
      }

      h3 a {
        background: #444;

        &:hover {
          background: #1c4aa7;
          background: -webkit-linear-gradient(#441f45, #364282);
          background: -o-linear-gradient(#441f45, #364282);
          background: -moz-linear-gradient(#441f45, #364282);
          background: linear-gradient(#441f45, #364282);
        }

        &:active {
          background: #222;
        }
      }

      h4 a {
        background: @royal-blue;

        &:hover {
          background: #6687e7;
        }

        &:active {
          background: @endeavour;
        }
      }
    }
  }

  .md {
    .-blocks,
    .-lists,
    blockquote,
    ol,
    p,
    pre,
    table,
    ul {
      margin: 15px 0;
    }

    h1,
    h2 {
      font-weight: 700;
      text-align: center;
    }

    h1 {
      position: relative;
      margin: 0 20px 20px;
      padding: 5px 0;
      font-size: 18px;
      text-decoration: none;
    }

    h2 {
      position: relative;
      color: #fff;
      height: 30px;
      line-height: 30px;
      margin: 0;
      font-size: 13px !important;
      background: #444;
      border-radius: 5px 5px 0 0;

      &:after {
        top: 100%;
        left: 5%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 7px;
        margin-left: -7px;
      }

      a {
        color: @bahia;
      }

      + ul {
        list-style-position: outside;
        border-radius: 0 0 5px 5px;
        background: #efefef;
        border-top: 0;
        padding: 10px 10px 10px 26px;
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          font-size: 95%;
        }
      }
    }

    > h3:nth-of-type(4) {
      margin-bottom: 0;

      &:hover + ul {
        height: auto;

        &:before {
          display: none;
        }
      }
    }

    > ol:last-of-type {
      display: flex;
      padding: 10px 0 10px 100px;
      margin: 0;
      position: absolute;
      top: 260px;
      left: 17px;
      width: calc(~"100% - 452px");
      background: #12377f;
      border-radius: 5px;

      @media (max-width: 905px) {
        display: none;
      }

      @media (max-width: 1280px) {
        padding: 0 0 0 100px;
      }

      li {
        transform: none;
        list-style: none;

        &:first-child {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-grow: 2;
          left: 0;
          width: 100px;
          min-width: 0;
          font-size: 20px;
          -webkit-display: flex;
          -webkit-justify-content: center;
          -webkit-align-items: stretch;
          color: #eee;
          text-transform: uppercase;
          letter-spacing: .5px;

          strong {
            text-shadow: 0 0 5px rgba(255, 199, 1, .25);
            padding: 8px;
            transform: none;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-display: flex;
            -webkit-justify-content: center;
            -webkit-align-items: center
          }
        }

        a {
          min-height: 16px;
          position: relative;
          display: block;
          margin: 12px 8px;
          padding-left: 12px;
          transform: none;
          color: #eee;
          text-shadow: 1px 1px 0 #000;
          font-size: 14px !important;
          font-weight: 400;
          text-decoration: underline;

          &:before {
            content: "";
            position: absolute;
            width: 4px;
            opacity: .85;
            height: 26px;
            display: block;
            left: 0;
            top: -4px;
            border-radius: 83px;
          }
        }
      }
    }

    > ul:last-of-type {
      background-color: #101828;
      height: 42px;
      overflow: hidden;
      padding-left: 0;
      position: absolute;
      top: 295px;
      left: calc(~"100% - 317px");
      width: 300px;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;

      &:hover {
        height: auto;
        background-color: #1e2636
      }

      li {
        line-height: 42px;

        &:first-of-type a {
          color: #fff
        }

        a {
          display: block;
          color: #fff;
          padding-left: 10px;

          &:hover {
            background: #9e9e9e
          }
        }
      }
    }
  }

  #moderation_tools {
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .md-container {
    text-align: left;
  }

  .usertext {
    margin-top: 20px;
  }

  .tagline {
    color: transparent;
  }

  .flairselector {
    position: fixed;
    top: 150px !important;
    left: 50% !important;
    margin-left: -220px;
    width: 400px !important;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.64);

    &:before {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -2;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      content: "";
      cursor: default;
      transition: all 0.25s ease;
      pointer-events: none;
    }
  }

  .sidecontentbox .content {
    border: none;
    padding: 8px 0;
  }

  #search_showmore {
    color: #bbb;
  }

  #search {
    top: 260px;
    position: absolute;
    z-index: 4;
  }

  a[href$="#noflair-icon"] {
    border-top: 1px solid #eee
  }

  a[href$="#news-icon"] {
    background: #17233a
  }

  a[href$="#event-icon"] {
    background: #1f2e4c
  }

  a[href$="#guide-icon"] {
    background: #26395f
  }

  a[href$="#gauntlet-icon"] {
    background: #2d4471
  }

  a[href$="#vod-icon"] {
    background: #344f83
  }

  a[href$="#artwork-icon"] {
    background: #3c5a95
  }

  a[href$="#abyssian-icon"] {
    background: @abyssian;
  }

  a[href$="#magmar-icon"] {
    background: @magmar;
  }

  a[href$="#lyonar-icon"] {
    background: @lyonar;
    color: #444 !important;
  }

  a[href$="#songhai-icon"] {
    background: @songhai;
  }

  a[href$="#vanar-icon"] {
    background: @vanar;
    color: #444 !important;
  }

  a[href$="#vetruvian-icon"] {
    background: @vetruvian;
  }
}
