// Sidebar (at the side obviously...)

@side-base-margin: @base-margin;
@side-right-margin: @base-outer-margin;
@side-width: 300px;

.side {
  margin-top: 55px;
  margin-right: @side-right-margin;
  background: none;
  width: @side-width;

  .titlebox,
  .sidecontentbox {
    background: white;
    padding: @base-margin;
    border-radius: @default-border-radius;
    box-shadow: @default-box-shadow;
  }

  .titlebox {
    .fancy-toggle-button {
      display: block;

      .add,
      .remove {
        border: none;
        padding: 5px 8px;
        font-size: 9px;
        text-transform: uppercase;
        transition: @default-transition-time background ease-in-out;
        border-radius: @default-border-radius;
      }

      .add {
        background: lighten(@theme-secondary, 5%);

        &:hover {
          background: lighten(@theme-secondary, 10%);
        }

        &:active {
          background: @theme-secondary;
        }
      }

      .remove {
        background: lighten(@theme-primary, 5%);

        &:hover {
          background: lighten(@theme-primary, 10%);
        }

        &:active {
          background: @theme-primary;
        }
      }
    }

    .subscribers,
    .users-online {
      .number {
        &:after {
          margin-left: 5px;
        }
      }
      .word {
        display: none;
      }
    }

    .subscribers {
      .number {
        &:after {
          content: @subscribers-text;
        }
      }
    }

    .users-online {
      .number {
        &:after {
          content: @users-online-text;
        }
      }
    }

    .redditname,
    .bottom {
      display: none;
    }

    .md {
      h3 a,
      h4 a {
        border-radius: @default-border-radius;
        padding: 8px 0;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        display: block;
      }

      h3 a {
        .default-button;
      }

      h4 a {
        background: @theme-primary;

        &:hover {
          background: @theme-primary-lighten;
        }

        &:active {
          background: @theme-primary-darken;
        }
      }
    }
  }

  .md {
    .-blocks,
    .-lists,
    blockquote,
    ol,
    p,
    pre,
    table,
    ul {
      margin: 15px 0;
    }

    h1,
    h2 {
      font-weight: bold;
      text-align: center;
    }

    h1 {
      position: relative;
      margin: 0 20px 20px;
      padding: 5px 0;
      font-size: 18px;
      text-decoration: none;
    }

    h2 {
      position: relative;
      color: white;
      height: 30px;
      line-height: 30px;
      margin: 0;
      font-size: @base-font-size;
      background: @base-dark-bg;
      border-radius: @default-border-radius @default-border-radius 0 0;

      a {
        color: lighten(@theme-primary, 20%);
      }

      + ul {
        list-style-position: outside;
        border-radius: 0 0 @default-border-radius @default-border-radius;
        background: #efefef;
        border-top: 0;
        padding: 10px 10px 10px 26px;
        margin: 0 0 20px;

        li {
          margin-bottom: 10px;
          font-size: 95%;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    > h3:nth-of-type(4) {
      margin-bottom: 0;

      &:hover + ul {
        height: auto;

        &:before {
          display: none;
        }
      }
    }

    // Notice box
    > ol:last-of-type {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 35px;
      right: @side-right-margin;
      z-index: @z-index-notice;
      border: 1px solid @theme-primary-darken;

      &:before {
        content: "Notice";
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        display: block;
        background: @theme-primary-darken;
        padding: 5px;
      }

      li {
        list-style: none;
        background: white;

        a {
          display: inline-block;
          padding: 5px;
          color: @base-font-color;

          &:hover {
            opacity: 0.85;
          }
        }
      }
    }

    > ul:last-of-type {
      background-color: #101828;
      height: 42px;
      overflow: hidden;
      padding-left: 0;
      position: absolute;
      top: 242px;
      width: @side-width;
      right: @side-right-margin;
      border-radius: @default-border-radius;
      text-align: center;

      &:hover {
        height: auto;
        background-color: #1e2636;
      }

      li {
        line-height: 42px;

        &:first-of-type {
          color: white;

          a {
            color: white;
          }
        }

        a {
          display: block;
          color: white;
          padding-left: 10px;

          &:hover {
            background: #9e9e9e;
          }
        }
      }
    }
  }

  .sidecontentbox {
    padding: 15px;

    .content {
      border: none;
      padding: 8px 0;
    }

    .collapse-button {
      display: inline-block;
      width: 12px;
      height: 12px;
      line-height: 10px;
      text-align: center;
      font-size: 10px;
      margin: 1px 8px;
      background-color: transparent;
      color: @royal-blue;
      vertical-align: middle;
      border-radius: @default-border-radius;
      border: 1px solid @royal-blue;

      &:hover {
        background-color: transparent;
        color: #009884;
        vertical-align: middle;
        border-radius: @default-border-radius;
        border: 1px solid @endeavour;
      }
    }
  }

  #search_showmore {
    color: #bbb;
  }

  #search {
    input[type=text] {
      padding: @base-margin;
      box-shadow: @default-box-shadow;
      border: 0;
    }
  }

  .gadget {
    .midcol {
      width: 20px;
    }

    .reddit-entry {
      margin-left: 30px;
    }
  }

  a[href$="#noflair-icon"] {
    border-top: 1px solid @default-transparent-white;
  }

  a[href$="#news-icon"] {
    background: #17233a;
  }

  a[href$="#event-icon"] {
    background: #1f2e4c;
  }

  a[href$="#guide-icon"] {
    background: #26395f;
  }

  a[href$="#gauntlet-icon"] {
    background: #2d4471;
  }

  a[href$="#vod-icon"] {
    background: #344f83;
  }

  a[href$="#artwork-icon"] {
    background: #3c5a95;
  }

  a[href$="#abyssian-icon"] {
    background: @abyssian;
  }

  a[href$="#magmar-icon"] {
    background: @magmar;
  }

  a[href$="#lyonar-icon"] {
    background: @lyonar;
    color: @base-font-color;
  }

  a[href$="#songhai-icon"] {
    background: @songhai;
  }

  a[href$="#vanar-icon"] {
    background: @vanar;
    color: @base-font-color;
  }

  a[href$="#vetruvian-icon"] {
    background: @vetruvian;
  }
}
