.submit-page {
  .content {
    width: 700px;
    margin: 0 auto;
  }

  div.content {
    margin-top: 20px;
    margin-bottom: 20px;
    background: none;
    border: none;
  }

  .tabmenu {
    margin-top: 0;
    border-radius: @default-border-radius;

    li a {
      border: none;
    }

    .selected a {
      background: none;
      font-size: inherit;
    }
  }

  #newlink.submit.content .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
  }

  .content h1,
  .side {
    display: none;
  }

  .submit_text.enabled {
    text-transform: none;
  }

  .markdownEditor-wrapper {
    width: 100%
  }
}
