// Main tabmenu

.tabmenu {
  li {
    margin: 0;
    background: none;

    a {
      padding: 0 20px;
      display: inline-block;
      line-height: 48px;
      text-align: center;
      text-transform: capitalize;
      transition: 150ms;
      -webkit-transition: 150ms;
      color: #e5e5e5;
      background-color: transparent;
      font-weight: 700;
    }

    &.selected a {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.15);
      border: none;
    }

    &:hover a {
      background: #fff;
      text-shadow: none;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
