@moderator-color: #207220;
@admin-color: #b80011;

.tagline .author {
  border-radius: 0;

  &.admin,
  &.admin:before,
  &.moderator,
  &.moderator:before,
  &.submitter,
  &.submitter:before {
    line-height: 20px;
    display: inline-block;
    font-weight: bold;
  }

  &.admin,
  &.moderator,
  &.submitter {
    border-radius: 20px; // override for RES
    padding: 0 10px 0 0; // override for RES
    transition: @default-transition-time;

    &:before {
      padding: 0 7px 0 10px;
      border-radius: 20px 0 0 20px;
      font-size: 10px;
      margin-right: 7px;
      color: white;
    }

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &.submitter {
    border: 1px solid @theme-primary;
    color: @theme-primary;

    &:before {
      background: @theme-primary-lighten;
      content: "OP ";
    }

    &:hover {
      background: @theme-primary-darken;
    }
  }

  &.moderator {
    border: 1px solid @moderator-color;
    color: @moderator-color;

    &:before {
      background: lighten(@moderator-color, 10%);
      content: "Mod ";
    }

    &:hover {
      background: darken(@moderator-color, 10%);
    }
  }

  &.admin {
    border: 1px solid @admin-color;
    color: @admin-color;

    &:before {
      background: lighten(@admin-color, 10%);
      content: "Admin ";
    }

    &:hover {
      background: darken(@admin-color, 10%);
    }
  }

  .score {
    font-weight: bold;
  }

  .moderator:after {
    content: "oderator - speaking officially.";
  }

  .admin:after {
    content: "dmin - speaking officially";
  }
}
