body {
  background: #e6e6e8
}

h2 {
  color: #252525;
  font-size: 18px;
  font-weight: 400
}

button {
  white-space: nowrap;
  background: @royal-blue;
}

span.pagename.redditname a {
  color: transparent;
  display: block;
  width: 351px;
  background-image: url(%%newbannerlink%%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: -150px auto 0 !important;
  top: -25px;
  left: 0
}

#header::after {
  position: absolute;
  top: 202px;
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, .5);
  content: " ";
  z-index: -1
}

#header-bottom-left .tabmenu {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
  padding-left: 80px;
  background-color: transparent;
}

.choice.primary,
.selected {
  font-weight: 600
}

#hsts_pixel,
.action-form input:disabled,
.listing-page .tabmenu li a[href*="/gilded"],
button[disabled] {
  display: none
}

.RESDropdownList li,
.action-form,
.pretty-button,
.pretty-button.pressed:after,
.usertext .help-toggle,
.usertext a.reddiquette,
ul.report-reasons {
  text-transform: uppercase
}

.tabmenu {
  margin-top: 22px;

  li {
    margin: 0 !important;
    height: 36px;
    width: 102px;
    background-color: transparent;

    a {
      padding: 0 20px !important;
      border-left: none;
      border-right: none;
      display: inline-block;
      line-height: 48px;
      text-align: center;
      text-transform: Uppercase;
      transition: 150ms;
      -webkit-transition: 150ms;
      font-weight: 400;
      color: #e5e5e5 !important;
      text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
      background-color: transparent
    }
  }

  li.selected a,
  li:hover a {
    color: #fff !important;
    font-weight: 700 !important
  }

  li:hover a {
    background-color: rgba(255, 255, 255, .08)
  }

  li.selected a {
    background-color: rgba(255, 255, 255, .15);
    border: none !important
  }
}

.usertext .help-toggle:hover,
.usertext a.reddiquette:hover {
  font-weight: 700
}

#header .tabmenu li:nth-of-type(8) {
  display: none;
  visibility: hidden
}

#header-img {
  position: relative;
  height: 50px !important;
  width: 50px !important;
  margin-top: 175px;
  margin-left: 15px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  z-index: 1;

  &.default-header:hover,
  &:hover {
    opacity: 0.7;
  }
}

.deepthread {
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;

  &:after {
    background-image: none;
    content: ">";
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }

  a {
    color: @royal-blue;
  }
}

.markdownEditor .edit-btn:not(.btn-macro) {
  background-color: transparent !important;
  border: 1px solid #c6c6c6;
  border-radius: 3px
}

.search-expando-button-label {
  &-collapsed,
  &-expanded {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
  }
}

.sr-bar {
  .separator {
    color: transparent;
    font-size: 8px;
  }

  a {
    color: #fff;

    &.gold {
      color: gold;
    }
  }
}

.BEFoot button {
  margin-right: 5px
}

a#sr-more-link[href="https://www.reddit.com/subreddits/"] {
  background: rgba(0, 0, 0, .6) !important;
  color: #fff;
  padding: 3px 15px
}

a {
  text-decoration: none;
  color: #666
}

.thing .title:visited {
  color: #331f6d
}

.flairselector li:hover {
  border-radius: 20px
}

.flair {
  cursor: default
}

.loadFlat {
  position: relative !important;
  z-index: 1;
  font-size: 10px;
  margin-left: 10px;
  transition: .2s;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    color: @royal-blue;
  }
}

.link.last-clicked {
  border: none
}

div#RESStyleSheetTipPane,
div#RESStyleSheetTipPane-header {
  border: none !important
}

.toc ul {
  background: #fff
}

.commentNavSortType:hover,
.commentarea .menuarea .toggle a:hover {
  text-decoration: none !important
}

.roundfield input[type=text],
.roundfield input[type=url],
.roundfield textarea {
  transition: .3s;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  height: 25px
}

.commentarea textarea:not(:focus):not(:hover) {
  background-color: #f8f8f8 !important
}

.commentarea textarea:hover,
.roundfield input[type=text]:hover,
.roundfield input[type=url]:hover,
.roundfield textarea:hover {
  border-bottom: 1px solid #999
}

#img-name:focus,
.roundfield input[type=text]:focus,
.roundfield input[type=url]:focus,
.roundfield textarea:focus {
  border-bottom: 2px solid
}

.usertext-edit textarea:hover {
  border: 1px solid #999
}

.usertext-edit textarea:focus {
  border-top: 1px solid #e1e1e1 !important;
  border-left: 1px solid #e1e1e1 !important;
  border-right: 1px solid #e1e1e1 !important;
  border-bottom: 3px solid
}

.usertext-edit textarea {
  transition: .2s;
  height: 100px;
  font-size: 1em;
  border: 1px solid #ccc
}

#RESPrefsDropdown {
  background-color: rgba(0, 0, 0, .85) !important;
  border: none;
  border-radius: 6px
}

.RESDropdownList li {
  background-color: transparent;
  color: #fff !important;
  border: none !important;
  transition: all .15s ease
}

.RESDropdownList li a:hover,
.RESDropdownList li:hover {
  background-color: rgba(80, 80, 80, .6) !important;
  color: #fff !important
}

#NERFail {
  padding-top: 20px;
  border: none
}

.link .domain {
  visibility: hidden;

  a {
    visibility: visible;
    color: #b3b3b3;
    transition: all .15s ease;
  }
}

.icon-menu a {
  background: 0 0
}

textarea {
  border: 1px solid rgba(0, 0, 0, .12)
}

a.madeVisible {
  margin-top: 20px
}

img.RESImage {
  border-radius: 12px
}

.gold-accent.comment-visits-box {
  color: #000
}

.action-form,
.nsfw-stamp {
  color: #fff;
  font-weight: 700
}

.gold-accent {
  background-color: transparent;
  border: 0
}

.nsfw-stamp acronym {
  display: none;
}

.nsfw-stamp:after {
  content: 'SPOILER';
  border: 1px solid;
  color: #ac3939;
  padding: 0 2px;
  border-radius: 3px;
}

.action-form {
  border: none;
  max-width: 300px;
  padding: 20px;
  margin: 5px 0;
  font-size: 12px;
  line-height: 25px;
  background: rgba(0, 0, 0, .85);
  position: absolute;
  z-index: 999;

  button {
    margin-right: 10px;
  }

  ol {
    margin-bottom: 15px;
  }
}

.pretty-button {
  background: none !important;
  font-weight: 700;
  padding: 1px 5px;
  border-radius: 20px;
  border: none !important;

  &.negative {
    color: #d10023;
  }

  &.neutral {
    color: #444;
  }

  &.positive {
    color: #2b8b27;
  }

  &.pressed {
    font-size: 0 !important;

    &:after {
      font-size: 10px;
      content: "Action Done";
      font-weight: 700;
    }
  }
}

ul.report-reasons {
  background-color: transparent;
  border: none
}

.content .entry .buttons li.reported-stamp,
.content .over18 .entry .buttons li.reported-stamp,
.content .stickied .entry .buttons li.reported-stamp {
  border: none !important;
  background: #666 !important;
  color: #fff !important;
  font-weight: 700;
  text-transform: uppercase !important;
  padding: 1px 8px;
  border-radius: 20px;
  font-size: 9px !important
}

.res-commentBoxes .nestedlisting > .comment {
  margin: 0 0 8px !important
}

.res-commentBoxes .nestedlisting .comment {
  overflow: visible !important
}

.commentarea .menuarea,
.menuarea,
.res h1.redditname {
  overflow: visible
}

.dropdown.srdrop .selected {
  color: #fff
}

.flat-list li a.gold {
  color: gold
}

.tabpane-content {
  border: none
}

.linefield {
  background: 0 0;

  .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px
  }
}

.flairgrant.flairlist {
  padding: 10px
}

.flair-jump button {
  font-size: 12px
}

.fancy-settings h1 {
  margin: 10px 5px;
  text-transform: uppercase;
  padding: 20px 30px 5px;
  font-size: 18px
}

#img-name,
.flairlist .flair-jump input[type=text] {
  border: none;
  border-bottom: 1px solid #ccc;
  transition: .3s;
  display: block;
  font-size: 22px;
  margin-bottom: 20px
}

#img-name:hover,
.flairlist .flair-jump input[type=text]:hover {
  border-color: #666
}

.flairlisthome {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px
}

.flairrow,
.stylesheet-customize-container h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700
}

.pretty-form {
  padding: 20px 0
}

#img-preview-container {
  border: none;
  background: #444;
  border-radius: 20px;
  margin: 25px 10px -25px 0;
  padding: 10px
}

.flairlist.usertable {
  margin-top: 35px
}

.sheets {
  margin-right: 20px;
  margin-bottom: 20px
}

#preview-table {
  padding-left: 20px
}

div#images {
  margin-left: 20px;
  padding-right: 20px
}

ul#image-preview-list {
  margin: 20px -15px -15px;
  padding-top: 0;

  li {
    background: #fff;
    padding: 8px;
    margin: 0 0 5px 5px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    width: 296.5px;
    height: 100px;
    font-size: 14px;
    color: #666;
  }

  .preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 0;
    margin: auto 0;
    line-height: 98px;

    img {
      vertical-align: middle;
    }
  }
}

#search input[type=text],
.login-form-side input[type=password],
.login-form-side input[type=text],
.md textarea,
body,
textarea {
  font-family: -apple-system, San Francisco Display, Helvetica Neue, Helvetica, Arial, sans-serif
}

.title + .expando-button + .expando-button {
  display: none
}

.drop-choices.lightdrop {
  background: rgba(0, 0, 0, .85);
  border: none;
  padding: 5px;
  border-radius: 0 0 4px 4px;
  font-weight: 700;
  margin-top: 2px;
  color: #fff !important
}

.drop-choices a.choice {
  color: #fff;

  &:hover {
    background: rgba(80, 80, 80, .6)
  }
}

#header-bottom-right a.pref-lang,
#mail.havemail,
#mail.nohavemail,
#modmail.havemail,
#modmail.nohavemail,
.arrow.down,
.arrow.downmod,
.arrow.up,
.arrow.upmod,
.expando-button,
.res #header-bottom-right .gearIcon,
.stickied .thumbnail.self,
.thumbnail.default,
.thumbnail.nsfw,
.thumbnail.self {
  background: url(%%spritesheet%%) !important;
  background-size: 50px 502px !important
}

#mail.nohavemail {
  background-position: 0 0
}

#mail.havemail {
  background-position: 0 -58.66px !important
}

#modmail.nohavemail {
  background-position: 0 -82px !important
}

#modmail.havemail {
  background-position: 0 -105.33px !important
}

#header-bottom-right a.pref-lang {
  background-position: 0 -128.67px !important;
  display: inline-block;
  text-indent: -9999px
}

#RESMainGearOverlay,
.infobar.newsletterbar {
  display: none !important
}

.res #header-bottom-right .gearIcon {
  background-position: 0 -152px !important
}

#header-bottom-right a.pref-lang,
#mail.havemail,
#mail.nohavemail,
#modmail.havemail,
#modmail.nohavemail,
.res #header-bottom-right .gearIcon {
  width: 20px;
  height: 20px;
  vertical-align: middle !important
}

.stickied .thumbnail.self,
.thumbnail.default,
.thumbnail.nsfw,
.thumbnail.self {
  width: 75px;
  height: 50px;
  background-size: 75px 753px !important
}

.stickied .thumbnail.self {
  background-position: 0 -265px !important
}

.thumbnail.self {
  background-position: 0 -345px !important
}

.thumbnail.default {
  background-position: 0 -426px !important
}

.thumbnail.nsfw {
  background-position: 0 -506px !important
}

.arrow.up {
  background-position: 3px -685px !important
}

.arrow.upmod {
  background-position: 2.3px -666px !important
}

.arrow.down {
  background-position: 3px -699px !important
}

#modmail.havemail,
#modmail.nohavemail {
  margin-bottom: 0 !important
}

.res #modmail.havemail,
.res #modmail.nohavemail {
  margin-bottom: -6px !important
}

body.res #header-bottom-right #mail.havemail {
  top: -1px !important
}

#header-bottom-right a.pref-lang.choice,
#mail.havemail,
#mail.nohavemail,
#modmail.havemail,
#modmail.nohavemail {
  background-repeat: no-repeat !important;
  width: 20px !important;
  height: 20px !important;
  top: 0 !important
}

.arrow.down,
.arrow.downmod,
.arrow.up,
.arrow.upmod {
  background-size: 37.5px 376.5px !important;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  transition: .2s
}

.arrow.upmod {
  background-color: #ff4500 !important;
  margin-bottom: 5px
}

.arrow.downmod {
  background-position: 3px -716px !important;
  background-color: #2b9bdb !important;
  margin-top: 5px
}

.expando-button {
  &,
  &.expanded,
  &.expanded:hover,
  &:hover {
    background-position: 0 -482px !important;
    width: 20px !important;
    height: 20px !important;
    transition: 150ms
  }

  &.expanded {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
  }

  &.expanded:hover,
  &:hover {
    opacity: .5
  }
}

#header-bottom-right {
  background: 0 0;
  top: 217px !important;
  right: 20px;
  padding: 0 !important;

  .user,
  .user .userkarma,
  a {
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase
  }
}

.res #header-bottom-right #modmail {
  top: -4px !important;
}

.separator {
  visibility: hidden;
}

.gearIcon {
  background-repeat: no-repeat !important
}

.res #userbarToggle {
  width: 11px;
  height: 48px;
  background-color: transparent;
  border: none;
  line-height: 47px;
  color: #fff;
  padding-left: 5px;
  padding-right: 8px;
  margin-left: -6px;
  transition: all .2s ease 0s;
  bottom: 2px;
  border-radius: 0;
  margin-bottom: -15px;

  &:hover {
    background-color: rgba(255, 255, 255, .1)
  }
}

#userbarToggle.userbarShow {
  background-color: rgba(255, 255, 255, .1);
  left: -3px !important;
  padding-right: 20px;
  font-size: 25px;
  padding-left: 15px;
  margin-left: -12px;
  transition: .2s;
  top: -15px !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.livePreview,
.livePreview .md {
  text-transform: none;
}

.RESDialogSmall.livePreview {
  margin: 15px 0;
}

.new-comment .usertext-body {
  border: none !important;
}

.organic-listing {
  border: 0
}

body:not(.search-page) .menuarea {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px !important
}

.comments-page .menuarea {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px !important
}

.combined-search-page {
  .searchfacets {
    margin: 0 !important;
    max-width: none !important;

    > h4.title {
      color: #444
    }
  }

  .search-result-group {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;

    .search-result-group-header {
      color: inherit;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 15px 30px;
      text-transform: uppercase;
      font-weight: 700;
      background: #eee;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1
    }
  }

  .search-result {
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 0 30px 20px;
    border-bottom: 1px solid #e1e1e1
  }

  .searchpane {
    background: #444
  }

  #search input[type=text] {
    max-width: none;
    color: #fff !important
  }

  .search-icon {
    background-size: 30px 30px;
    height: 30px;
    width: 30px
  }

  .search-submit-button {
    background: 0 0;
    border: none;
    float: left;
    margin-top: -45px;
    margin-left: -25px
  }

  .search-result-subreddit .search-subscribe-button {
    .add,
    .remove {
      width: auto;
    }
  }

  .search-result {
    .search-result-body {
      font-size: 1em;
      line-height: 1.25em;
      color: #4f4f4f;
      padding: 10px 0;
      width: 800px
    }

    a,
    a > mark {
      color: inherit;
      line-height: inherit;
    }

    .search-result-meta,
    .search-score {
      font-size: 10px;
      line-height: 2em;
      color: grey;
      padding: 8px 0 0;
      font-weight: 700;
      text-transform: uppercase
    }
  }
}

#moresearchinfo {
  border: none;
  background: rgba(0, 0, 0, .9);
  border-radius: 0 0 10px 10px;
  line-height: 1.7em;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: left
}

.searchfacet a {
  color: #434343 !important
}

#previoussearch label {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin: 5px 0;
  position: absolute;
  top: 95px;
  font-weight: 700
}

.search-page #search input[type=submit],
.search-page #search input[type=submit]:hover,
.search-page .raisedbox h4,
.search-summary,
.searchpane-toggle-hide {
  display: none
}

.search-page .searchpane {
  margin: auto auto -45px;
  height: 50px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .24);
  position: relative;
  top: -85px
}

.dropdown.lightdrop .selected {
  text-decoration: none
}

.search-page #search input[type=text] {
  background: 0 0;
  border: none;
  font-size: 27px;
  width: 100% !important;
  position: relative;
  top: 2px;
  margin-left: 30px
}

.tagline .score {
  font-weight: 700
}

.comment.noncollapsed .midcol {
  margin-left: 20px
}

.res .comment.noncollapsed .midcol {
  margin-left: 10px
}

.res .commentarea .comment a.expand:hover {
  border-radius: 4px 0 0 4px
}

.commentarea .thing,
.midcol {
  position: relative
}

.comments-page .content .infobar {
  border: 0;
  background: #fff;
  max-width: 300px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .24);
  margin-top: 30px;
  margin-left: -10px !important;
  margin-bottom: 15px
}

.panestack-title a.title-button {
  position: relative;
  z-index: 2
}

.panestack-title a.title-button,
.panestack-title a.title-button.gold {
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9px;
  color: #fff;
  border: none;
  border-radius: 3px
}

.res {
  .comments-page .side {
    margin: 275px 16px 100px
  }

  .content .RESBigEditorPop {
    line-height: inherit;
    font-size: 11px;
    box-shadow: none;
    color: #666;
    border: none;
    padding: 0;
    margin-top: 3px;
    background-color: transparent;
    background-image: none;
    margin-left: -12px
  }

  .commentarea > .usertext {
    position: relative;
    top: -110px;
    margin-bottom: -90px;
    margin-top: -160px;
    padding-top: 136px;
    clear: left
  }
}

body.comments-page .link {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .08)
}

.RESSubscriptionButton {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-left: 15px;
  padding: 5px !important;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #fff !important;
  border: 0 solid #ccc !important;
  border-radius: 2px;
  transition: .25s ease
}

.commentarea {
  padding: 0 10px 10px;

  .nestedlisting {
    margin: 0 -10px
  }

  .comment a.expand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 4px 0;
    height: 100%;
    opacity: .5;
    box-sizing: border-box;
    transition: .2s;

    &:hover {
      opacity: 1;
      color: #fff;
      border-radius: 4px;
      text-decoration: none;
      font-weight: 700
    }
  }

  > .usertext {
    background-color: #f8f8f8;
    border-radius: 0 0 2px 2px;
    overflow: visible;
    padding-top: 165px;
    padding-left: 29px;
    margin-top: -160px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  }

  .panestack-title {
    margin: 16px 0 -16px 22px;
    border-bottom: 0;

    .title {
      color: #4d5763;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
    }
  }

  .menuarea {
    margin-left: 22px;
    text-transform: uppercase;
    font-size: 12px;
  }

  .thing {
    border-radius: 2px;
    background-color: #fff;
    margin: 0 0 8px;
    padding: 16px 16px 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);

    &.collapsed {
      padding: 10px 15px;
    }
  }

  .child .thing {
    box-shadow: none;
    padding: 4px;
    border: 1px solid #fff;
  }

  span.score {
    font-weight: 700;
    color: @royal-blue;
  }
}

.res .commentarea {
  .thing {
    padding: 15px 15px 0 !important;
  }

  .entry .flat-list {
    padding-bottom: 8px;
  }
}

.comment .flat-list li a[onclick*=reply] {
  font-weight: 700
}

body.comments-page div.content {
  border: none !important
}

div.child,
div.sitetable.nestedlisting {
  box-shadow: none;
  z-index: auto
}

.roundfield,
.wiki-page .pageactions,
.wiki-page .wikititle {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .08)
}

.wiki-page-content .md h1,
.wiki-page-content .md h6 {
  text-transform: none !important
}

.formtabs-content .infobar,
.wiki-page .wiki-page-content {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .08)
}

.roundfield {
  font-weight: 700;
  text-transform: uppercase
}

.formtabs-content .infobar {
  font-size: 15px;
  font-weight: 700;
  border: none;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  color: #000
}

#sr-more-link {
  background-color: #fff !important
}

.roundfield .usertext-edit,
.roundfield input[type=number],
.roundfield input[type=password],
.roundfield input[type=text],
.roundfield input[type=url],
.roundfield textarea,
.submit-page .markdownEditor-wrapper {
  width: 100%
}

.roundfield {
  background: #fff;
  width: auto;
  padding: 15px 20px;
  font-size: 12px;
  line-height: 1.5em;
  border-radius: 4px;

  .title {
    color: #666
  }

  input[type=text] {
    margin-bottom: 15px
  }
}

.content.submit .info-notice {
  font-size: 12px;
  background-color: #fff;
  border: none;
}

body:not(.submit-page) .tabmenu::after {
  display: none
}

.md-container {
  text-align: left
}

.titlebox {
  text-align: center;
  padding: 12px;

  .fancy-toggle-button {
    margin: 4px auto;
    width: 100%;
    transition: .3s;
  }

  .number,
  .subscribers,
  .users-online {
    font-size: 12px;
  }

  .users-online,
  .subscribers {
    color: #999;
    margin: 4px auto;
  }

  .users-online {
    .number {
      font-style: italic;
    }
  }

  .redditname {
    font-weight: 400;
  }

  .bottom {
    display: none;
  }
}

.formtabs-content {
  border-top: 0 solid !important;
  width: auto;
  margin-top: 15px
}

.sidecontentbox {
  padding: 15px;

  .title h1 {
    color: #555;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
  }

  a.helplink {
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 215px;
    border: none;
    border-radius: 4px;
    color: #fff !important;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    transition: .25s ease;
    background: @royal-blue;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      background: #6687e7;
    }

    &:active {
      background: @endeavour;
    }
  }

  .collapse-button {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 10px;
    text-align: center;
    font-size: 10px;
    margin: 1px 8px;
    background-color: transparent;
    color: @royal-blue;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid @royal-blue;

    &:hover {
      background-color: transparent;
      color: #009884;
      vertical-align: middle;
      border-radius: 2px;
      border: 1px solid @endeavour;
    }
  }
}

.tagline .moderator:after {
  content: "oderator - speaking officially."
}

.thing .tagline .author {
  &.admin,
  &.admin:before,
  &.moderator,
  &.moderator:before,
  &.submitter,
  &.submitter:before {
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
  }

  &.submitter {
    background: @endeavour !important;
    padding: 0 10px 0 0;
    border-radius: 20px;
    transition: .3s;

    &:before {
      background: @royal-blue;
      padding: 0 7px 0 10px;
      border-radius: 20px 0 0 20px;
      font-size: 10px;
      content: "OP ";
      margin-right: 7px
    }

    &:hover {
      background: @royal-blue !important;
      text-decoration: none
    }
  }

  &.admin,
  &.moderator {
    padding: 0 10px 0 0;
    border-radius: 20px;
    transition: .3s;

    &:before {
      padding: 0 7px 0 10px;
      border-radius: 20px 0 0 20px;
      font-size: 10px;
      margin-right: 7px;
    }
  }

  &.moderator {
    background: #1a4b17;

    &:before {
      background: #282;
      content: "Mod ";
    }

    &:hover {
      background: #282;
      text-decoration: none;
    }
  }

  &.admin {
    background: #c41959;

    &:before {
      background: @wild-watermelon;
      content: "Admin ";
    }

    &:hover {
      background: @wild-watermelon;
      text-decoration: none;
    }
  }
}

.tagline .admin:after {
  content: "dmin - speaking officially"
}

a.author.admin:after,
a.author.admin:before,
a.author.moderator:after {
  content: ""
}

.link {
  margin-bottom: 0
}

body:not(.comments-page) div.content .entry {
  border-bottom: 1px solid #e1e1e1;
  padding: 12px
}

.commentarea .entry.RES-keyNav-activeElement div.noncollapsed,
.entry.RES-keyNav-activeElement,
.entry.RES-keyNav-activeElement .usertext-body,
.entry.RES-keyNav-activeElement div.md {
  background: 0 0 !important
}

.commentarea .entry.RES-keyNav-activeElement div.noncollapsed,
.entry.RES-keyNav-activeElement .usertext-body,
.entry.RES-keyNav-activeElement div.md,
.new-comment .usertext-body .md {
  outline: 0 !important;
  border: 0 !important
}

#progressIndicator,
.NERPageMarker {
  font-size: 14px !important;
  font-weight: 700 !important;
  text-align: left !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 10px !important;
  text-transform: uppercase;
  margin-left: 20px
}

#progressIndicator {
  font-size: 12px !important;
  color: #666;

  &,
  & h2 {
    text-align: center;
    text-transform: uppercase
  }

  h2 {
    font-size: 16px !important;
    font-weight: 700;
    margin-top: 5px
  }
}

#sr-header-area {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 9px;
  width: 100%;
  z-index: 9999;

  a {
    font-size: 9px;
    transition: .2s;

    &:hover {
      font-weight: 700;
    }
  }

  .drop-choices.srdrop {
    margin-top: 3px;
    margin-left: 5px;
    background: rgba(0, 0, 0, .85);
    border: none;
    line-height: 1.5em;
    font-weight: 700;
    border-radius: 0 0 10px 10px;
    padding: 10px;
  }
}

#srList {
  font-weight: 700;
  top: 24px !important;
  left: 20px !important;
  z-index: 9999;
  border: none;
  background-color: rgba(0, 0, 0, .85) !important;
  width: auto;
  overflow-y: auto;
  text-transform: uppercase;
  line-height: 2em;
  border-radius: 0 0 10px 10px;
  padding-bottom: 6px;
  position: absolute;

  tr {
    border-bottom: none !important;

    &:hover {
      background-color: rgba(80, 80, 80, .6) !important;
    }
  }

  &,
  td a {
    color: #fff;
  }
}

body.res #sr-header-area .sr-bar a.RESShortcutsCurrentSub {
  color: #fff !important;
}

div.score {
  font-weight: 500;
  color: #999;
}

.md h1,
.md p,
.md ul {
  line-height: 20px
}

.side div.score,
span.totalvotes {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500 !important;
  color: #444;
  padding: 0 16px
}

.linkinfo {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .08);
  position: absolute;
  border: none !important;
  background-color: #fff;
  top: 400px;
  font-family: inherit !important;
  padding: 0;
  border-radius: 4px;
  width: 300px;

  .date,
  .shortlink {
    font-weight: 700;
    text-transform: uppercase
  }

  .score .number {
    font-size: 14px;
    text-align: left
  }

  .totalvotes {
    font-size: 100%
  }

  .date {
    font-size: 11px;
    color: #666;
    text-align: left;
    padding: 14px 16px 0;
  }

  .shortlink {
    margin-top: 20px;
    text-align: center;
    font-size: 0;

    input {
      box-shadow: none !important;
      font-family: monospace !important;
      transition: all .15s ease 0s !important;
      font-size: 13px;
      color: #fff;
      border: none;
      width: 280px;
      background: #444;
      border-radius: 0 0 4px 4px;
      padding: 10px;
      text-align: center;
    }
  }
}

.comment {
  .collapsed {
    padding-left: 24px;
    padding-bottom: 10px;
    padding-top: 2px
  }

  .midcol {
    width: 20px !important;
  }
}

#header {
  border: none;
  height: 250px;
  transition: .3s;
  -webkit-transition: .3s;

  span.pagename.redditname a {
    -webkit-animation-duration: 1.2s;
    -webkit-animation-name: godown;
    animation-duration: 1.2s;
    animation-name: godown
  }
}

@keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0)
  }
}

@-moz-keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0)
  }
}

@-webkit-keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0)
  }
}

@-o-keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0)
  }
}

.pagename a {
  height: 100px;
  width: 200px;
  display: inline-block;
  text-indent: -99999px;
  background-repeat: no-repeat
}

span.pagename.redditname a:hover {
  opacity: .8
}

.pagename {
  font-size: 0
}

.morelink .nub,
.sidebox .spacer,
.sidebox .spacer a,
.sidebox.create,
.subtitle {
  display: none
}

.res .titlebox > div:first-of-type,
.titlebox form.toggle {
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px
}

.entry .buttons .may-blank,
button {
  font-weight: 700
}

.fancy-toggle-button .add,
.fancy-toggle-button .remove {
  padding: 5px 20px;
  border-radius: 20px
}

.RESDashboardToggle,
.RESDashboardToggle.remove,
.RESshortcutside,
.RESshortcutside.remove,
.fancy-toggle-button .add,
.fancy-toggle-button .remove,
.res .fancy-toggle-button .add,
.res .fancy-toggle-button .remove {
  font-size: 9px !important;
  border: none !important;
  text-transform: uppercase;
  transition: .2s;
  background-image: none !important
}

.RESDashboardToggle,
.RESDashboardToggle.remove,
.RESshortcutside,
.RESshortcutside.remove,
.res .fancy-toggle-button .add,
.res .fancy-toggle-button .remove {
  padding: 5px 8px !important;
  border-radius: 3px !important
}

.res .titlebox .fancy-toggle-button {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 0;
  width: auto
}

.flat-list {
  list-style-type: none;
  display: inline
}

.morelink .nub,
.rank-spacer,
.users-online:before,
body > .content .link .rank {
  display: none
}

.link .tagline {
  color: #666;
  font-size: 12px;
  margin-top: 3px
}

.entry .buttons li a,
.entry .buttons li + li {
  color: #666
}

.comment .flat-list li a:hover,
.link .domain a:hover,
.link .entry .buttons li a:hover {
  font-weight: 700;
  text-decoration: none;
  transition: .2s
}

button {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  line-height: 2.16;
  text-align: center;
  border: 0;
  padding: 0 1.06667em;
  text-transform: uppercase;
  transition: all .2s ease 0s;
  font-size: 12px
}

body:not(.submit-page) .tabmenu::after {
  position: absolute;
  height: 49px;
  content: '';
  z-index: -1;
  left: 0;
  right: 0;
  background: #666
}

.side:before,
.titlebox .users-online .number:before {
  content: ""
}

div.content {
  border-radius: 4px;
  margin: 85px 335px 10px 16px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-size: 12px;

  @media (max-width: 905px) {
    margin: 15px 335px 10px 16px;
  }
}

.midcol {
  margin-left: 0
}

.midcol-spacer,
body > .content .link .midcol {
  width: 40px !important
}

.midcol-spacer,
body:not(.comments-page) > .content .link .midcol {
  margin: 10px 0
}

.link .title {
  font-weight: 400
}

.link .title .domain {
  color: #999;
  font-size: 0;
  font-weight: 400
}

.link .title .domain::before,
.side:before {
  font-size: 12px
}

.link .title .domain a {
  font-size: 12px;
  margin-left: 1px;
  margin-top: -10px
}

.side:before {
  display: block;
  position: relative;
  width: 300px;
  text-align: center;
  color: #fff;
  background: url(%%biglogo%%) center no-repeat;
  padding-top: 300px
}

#searchexpando {
  border-radius: 0 0 4px 4px;
  text-align: center;
  width: 280px;
  background: rgba(0, 0, 0, .85);
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  color: #fff;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 2.5em;
  height: auto
}

.side #search {
  top: 265px;
  position: absolute;
  margin-right: 25px;
  z-index: 4;
  width: 317px
}

body:not(.search-page) #search input[type=text] {
  border-radius: 6px;
  padding: 9px;
  border: 1px solid #e1e1e1;
  text-align: center;
  transition: .3s
}

body:not(.search-page) #search input[type=text]:hover {
  border: 1px solid #a0a0a0
}

body:not(.search-page) #search input[type=text]:focus {
  border-color: #aaa;
  text-align: left;
  outline: 0;
  padding-left: 6px;
  animation-name: search;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running
}

@-webkit-keyframes search {
  0% {
    padding-left: 125px
  }
  8% {
    padding-left: 107px
  }
  15% {
    padding-left: 89px
  }
  30% {
    padding-left: 71px
  }
  50% {
    padding-left: 53px
  }
  60% {
    padding-left: 18px
  }
  100% {
    padding-left: 6px
  }
}

@keyframes search {
  0% {
    padding-left: 125px
  }
  8% {
    padding-left: 107px
  }
  15% {
    padding-left: 89px
  }
  30% {
    padding-left: 71px
  }
  50% {
    padding-left: 53px
  }
  60% {
    padding-left: 18px
  }
  100% {
    padding-left: 6px
  }
}

.morelink {
  border: none;
  letter-spacing: 0;
  font-size: 14px !important;
  border-radius: 3.5px;
  padding: 3px;
  text-transform: uppercase;

  a,
  a:hover,
  a:visited {
    color: #fff
  }
}

.disabled .morelink,
.disabled .morelink:hover {
  background-image: none !important;
  top: 314px;
  position: absolute;
  width: 300px
}

.infobar {
  background: #f2f2f2;
  border: 1px solid #ebebeb;
}

.message-count {
  left: 2px;
  background-color: #ff9400;
  position: relative;
  top: -2px
}

.flair,
.linkflairlabel {
  margin-right: .8em;
  margin-bottom: -.3em
}

.next-suggestions,
.nextprev {
  margin: 10px !important;
  padding: 10px !important;
  display: block;

  a {
    font-weight: 400 !important
  }
}

.titlebox .users-online:before,
.titlelebox .word {
  display: none
}

.link {
  .usertext .md {
    border: 1px solid #e1e1e1
  }

  .usertext-body .md {
    border: none !important;
    background: 0 0 !important
  }

  .score {
    &.likes {
      color: #ff5f3f
    }

    &.dislikes {
      color: #2b9bdb
    }
  }
}

.score.unvoted {
  color: #666
}

div.midcol.dislikes,
div.midcol.likes,
div.midcol.unvoted,
div.reddit-entry {
  padding: 0 10px
}

div.leavemoderator {
  margin-left: 18px;
  background: 0 0
}

.RESDashboardToggle,
.RESshortcutside,
.fancy-toggle-button .add {
  background: #80d04b
}

.RESDashboardToggle:hover,
.fancy-toggle-button .add:hover,
body.res .RESshortcutside:hover {
  background: #a6de81
}

.RESDashboardToggle:active,
.fancy-toggle-button .add:active,
body.res .RESshortcutside:active {
  background: #599134
}

.side .titlebox .md h3 a,
.side .titlebox .md h4 a {
  border-radius: 3.5px;
  padding: 8px 0;
  border: none;
  color: #fff;
  letter-spacing: 0;
  font-weight: 700;
  text-align: center;
  font-size: 12px !important;
  width: 276px;
  margin: 1.5em 0;
  display: block
}

.gadget .midcol {
  width: 20px !important;
}

.content {
  margin: 96px 16px 0;
  padding: 0
}

.entry .buttons li a,
.entry .buttons li + li {
  font-weight: 400
}

.flairselector {
  &.drop-choices.active {
    border-radius: 8px !important;
    padding: 20px !important;
  }

  .flairselection {
    margin-bottom: 17px
  }

  .customizer {
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    margin-bottom: 4px;
    color: #555 !important;
    text-align: left;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 12px !important;
  }

  form button {
    font-size: 10px;
  }
}

.bottommenu,
.error,
.flairselector form button,
.footer .flat-vert .title,
.footer .flat-vert li a,
form#image-upload.image-upload {
  text-transform: uppercase;
  font-weight: 700
}

.flairselector {
  .drop-choices.active {
    visibility: visible !important;
    background-color: #fff;
    border: 1px solid #d8d8d8;
  }

  h2 {
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
  }

  ul {
    overflow: visible;
  }

  li {
    padding: 3px 0;
    width: 182px;

    &:hover {
      background-color: #efefef;
    }

    &.selected {
      background-color: #e5ebf8;
      border: none;
    }
  }

  form {
    border-top: 1px solid #e5e5e5;
  }
}

.flairoptionpane {
  text-align: left;

  ul {
    visibility: visible !important;

    a.title {
      font-size: 100% !important
    }
  }
}

.flairsample-left {
  text-align: left !important
}

.login-form-side {
  border: none;
  padding: 16px;
  margin-top: -10px;

  input[type=password],
  input[type=text] {
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #999;
    width: 258px;
  }

  #remember-me * {
    vertical-align: middle;
  }

  .submit {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
  }
}

.thumbnail {
  border-radius: 5px;
  margin-right: 15px !important;
  position: relative;
  top: 33px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%)
}

body:not(.comments-page) .thumbnail {
  margin: 10px 5px 10px 0 !important
}

.thumbnail.default,
.thumbnail.nsfw,
.thumbnail.self,
.stickied .thumbnail.self {
  background-repeat: no-repeat !important;
  padding: 10px 0;
  border-radius: 15px
}

.stickied a.title:link,
.stickied a.title:visited,
body:not(.comments-page) .stickied .entry .buttons li a,
body:not(.comments-page) .stickied .entry .buttons li + li,
body:not(.comments-page) .stickied .link .tagline,
body:not(.comments-page) .stickied .tagline {
  color: #2b8b27 !important
}

.over18 a.title:link,
.over18 a.title:visited,
body:not(.comments-page) .over18 .entry .buttons li a,
body:not(.comments-page) .over18 .entry .buttons li + li,
body:not(.comments-page) .over18 .link .tagline,
body:not(.comments-page) .over18 .tagline {
  color: #d10023 !important
}

.res #RESShortcutsEditContainer,
.res #sr-more-link {
  background: 0 0
}

#sr-more-link {
  position: absolute;
  top: -3px
}

#RESShortcutsAdd,
#RESShortcutsLeft,
#RESShortcutsRight,
#RESShortcutsSort,
#RESShortcutsTrash {
  height: 25px;
  line-height: 25px !important;
  margin-right: 4px;
  background: 0 0 !important;
  color: #fff !important
}

.link .flat-list {
  display: block;
  padding: 1px 0;
  margin-top: 3px
}

li.searchfacet {
  width: 20em
}

.error {
  font-size: 12px
}

.pretty-form {
  font-size: larger;
  margin-left: 25px
}

#preview-table > table {
  border-width: .2em;
  border-style: dashed;
  border-color: #d3d3d3;
  padding: 5px;
  margin: 5px 5px 5px 25px;
  width: 900px
}

form#image-upload.image-upload {
  margin-left: 25px;
  padding: 9px;
  line-height: 24px;
  font-size: 10px;
  margin-bottom: 20px;
  color: #666
}

.debuginfo,
.footer-parent {
  background-color: #222
}

.footer-parent {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 300px
}

.footer {
  border: 0;

  .col {
    margin: 10px 0 30px
  }

  .flat-vert {
    li a {
      font-size: 11px;
      color: #999 !important;

      &:hover {
        text-decoration: none !important;
        color: #fff !important
      }
    }

    .title {
      font-size: 16px;
      transition: color .25s ease, background-color .25s ease;
      color: #fff
    }
  }
}

.bottommenu,
.col {
  border: none !important
}

.bottommenu {
  font-size: 10px;
  color: #fff !important;

  a {
    text-decoration: none;
    color: #999
  }
}

#mail.havemail:before {
  position: fixed;
  bottom: 24px;
  z-index: 100;
  padding: 45px 0 10px;
  background-color: rgba(0, 0, 0, .85);
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  color: #fff;
  width: 210px;
  height: 15px;
  left: 0;
  right: 0;
  content: "YOU HAVE NEW MESSAGES";
  text-indent: 30px;
  font-size: 11px;
  line-height: 1;
  -webkit-transform: translateY(112px);
  transform: translateY(112px);
  transition: background-color .25s ease, box-shadow .25s ease;
  background-image: url(%%havemail%%);
  background-position: 85px 8px;
  margin: 0 auto;
  background-size: 32px;
  font-weight: 700;
  background-repeat: no-repeat;
  animation-name: toast;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-name: toast;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease
}

#mail.havemail:hover:before {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused
}

@-webkit-keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0
  }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: .8
  }
  27%, 92% {
    transform: translateY(00px);
    -webkit-transform: translateY(00px);
    opacity: .8
  }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: .8
  }
}

@-o-keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0
  }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: .8
  }
  27%, 92% {
    transform: translateY(00px);
    -webkit-transform: translateY(00px);
    opacity: .8
  }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: .8
  }
}

@-moz-keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0
  }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: .8
  }
  27%, 92% {
    transform: translateY(00px);
    -webkit-transform: translateY(00px);
    opacity: .8
  }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: .8
  }
}

@keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0
  }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: .8
  }
  27%, 92% {
    transform: translateY(00px);
    -webkit-transform: translateY(00px);
    opacity: .8
  }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: .8
  }
}

.RESDashboardToggle.remove,
.RESSubscriptionButton,
.RESshortcutside.remove,
.commentarea .comment a.expand:hover,
.fancy-toggle-button .remove,
.panestack-title a.title-button,
.panestack-title a.title-button.gold {
  background: @royal-blue;
}

#progressIndicator a#NERStaticLink,
.comment .flat-list li a:hover,
.comment .flat-list li a[onclick*=reply],
.commentNavSortType:hover,
.commentarea .menuarea .toggle a:hover,
.entry .buttons .may-blank,
.error,
.linefield .title,
.link .domain a:hover,
.link .entry .buttons li a:hover,
.submit-page .roundfield a,
.thing .title {
  color: @royal-blue;
}

#img-name:focus,
.flairlist .flair-jump input[type=text]:focus,
.roundfield input[type=text]:focus,
.roundfield input[type=url]:focus,
.roundfield textarea:focus,
.usertext-edit textarea:focus {
  border-color: @royal-blue;
}

.RESDashboardToggle.remove:hover,
.comments-page .RESSubscriptionButton:hover,
.fancy-toggle-button .remove:hover,
.panestack-title a.title-button.gold:hover,
.panestack-title a.title-button:hover,
.side .titlebox .md h4 a:hover,
body.res .side .RESshortcutside.remove:hover,
button:hover {
  background: #6687e7
}

.RESDashboardToggle.remove:active,
.RESshortcutside.remove:active,
.comments-page .RESSubscriptionButton:active,
.fancy-toggle-button .remove:active,
.panestack-title a.title-button.gold:active,
.panestack-title a.title-button:active,
.side .titlebox .md h4 a:active,
button:active {
  background: @endeavour;
}

.morelink,
.side .titlebox .md h3 a,
.tabmenu,
.thing .md table thead tr th,
.wiki-page-content .md table thead tr th {
  background: #444
}

.morelink:hover,
.side .titlebox .md h3 a:hover {
  background: #1c4aa7;
  background: -webkit-linear-gradient(#441f45, #364282);
  background: -o-linear-gradient(#441f45, #364282);
  background: -moz-linear-gradient(#441f45, #364282);
  background: linear-gradient(#441f45, #364282)
}

.morelink:active,
.side .titlebox .md h3 a:active {
  background: #222
}

#siteTable .thing .md blockquote,
#siteTable .thing .md ol,
#siteTable .thing .md table,
#siteTable .thing .md ul,
.commentarea .md blockquote,
.commentarea .md ul,
.commentarea .thing .md ol,
.commentarea .thing .md table,
.wiki-page-content .md blockquote {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 10px 10px
}

#siteTable .thing .md blockquote,
.commentarea .md blockquote,
.wiki-page-content .md blockquote {
  padding: 10px;
  border-left: solid 2px #666;
  background-color: #f2f2f2;
  color: #2f2f2f;
  line-height: 20px;
  font-size: 14px
}

#siteTable .thing .md ol,
#siteTable .thing .md ul,
.commentarea .md ul,
.commentarea .thing .md ol {
  border-right: solid 1px #eaeaea;
  border-left: solid 1px #eaeaea;
  border-top: solid 1px #eaeaea;
  line-height: 20px;
  font-size: 14px;
  padding: 0
}

#siteTable .thing .md ol li,
#siteTable .thing .md ul li,
.commentarea .md ul li,
.commentarea .thing .md ol li {
  border-bottom: solid 1px #eaeaea;
  background-color: #f8f8f8;
  padding: 5px
}

#siteTable .thing .md ol li:nth-child(odd),
#siteTable .thing .md ul li:nth-child(odd),
.commentarea .md ul:nth-child(odd),
.commentarea .thing .md ol li:nth-child(odd) {
  background-color: #f2f2f2
}

#siteTable .thing .md ul,
.commentarea .md ul {
  list-style: none
}

#siteTable .thing .md ol,
.commentarea .thing .md ol {
  list-style-position: inside
}

#siteTable .thing .md table thead tr th,
.commentarea .thing .md table thead tr th {
  font-weight: 400;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  border: none
}

#siteTable .thing .md table tbody tr,
.commentarea .thing .md table thead tr th {
  border-bottom: solid 1px #eaeaea
}

#siteTable .thing .md table tbody tr td,
.commentarea .thing .md table tbody tr td {
  padding: 10px 20px;
  border: none
}

.res #RESShortcutsViewport {
  margin-right: 70px
}

#header {
  background: url(%%newbanner%%) no-repeat;
  background-position-x: center !important;
  background-position: center !important
}

.side .md > ol:last-of-type {
  display: flex;
  padding: 10px 0 10px 100px;
  margin: 0;
  position: absolute;
  top: 260px;
  left: 17px;
  width: calc(~"100% - 452px");
  background: #12377f;
  border-radius: 5px;

  @media (max-width: 905px) {
    display: none;
  }

  @media (max-width: 1280px) {
    padding: 0 0 0 100px;
  }

  li {
    transform: none;
    list-style: none;

    &:first-child {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-grow: 2;
      left: 0;
      width: 100px;
      min-width: 0;
      font-size: 20px;
      -webkit-display: flex;
      -webkit-justify-content: center;
      -webkit-align-items: stretch;
      color: #eee;
      text-transform: uppercase;
      letter-spacing: .5px;

      strong {
        text-shadow: 0 0 5px rgba(255, 199, 1, .25);
        padding: 8px;
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-display: flex;
        -webkit-justify-content: center;
        -webkit-align-items: center
      }
    }

    a {
      min-height: 16px;
      position: relative;
      display: block;
      margin: 12px 8px;
      padding-left: 12px;
      transform: none;
      color: #eee;
      text-shadow: 1px 1px 0 #000;
      font-size: 14px !important;
      font-weight: 400;
      text-decoration: underline;

      &:before {
        content: "";
        position: absolute;
        width: 4px;
        opacity: .85;
        height: 26px;
        display: block;
        left: 0;
        top: -4px;
        border-radius: 83px;
      }
    }
  }
}

.md p > a[href="#s"],
a[href="#s"] {
  text-decoration: none !important;
  cursor: default;
  background: #000;
  color: #fff !important;
  display: inline-block
}

.md p > a[href="#s"]::after,
a[href="#s"]::after {
  content: attr(title);
  color: #000;
  padding: 0 .5em;
  visibility: visible
}

.md p > a[href="#s"]:hover,
a[href="#s"]:hover {
  color: #fff !important
}

.md p > a[href="#s"]:active::after,
.md p > a[href="#s"]:hover::after,
.side .md > ul:last-of-type li:first-of-type,
a[href="#s"]:active::after,
a[href="#s"]:hover::after {
  color: #fff
}

.arrow.down:hover::after,
.comment .arrow.downmod:hover::after {
  position: absolute;
  display: block;
  z-index: 11;
  width: 210px;
  padding: 10px;
  border: 1px solid #000;
  background-color: rgba(51, 20, 52, .75);
  color: #fff;
  content: "Keep this sub user-friendly - only downvote this post if it adds no value. Do not downvote based on opinion.";
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 25px;
  box-shadow: 3px 3px 3px #9c9b9b;
  opacity: 1
}

.side .md > ul:last-of-type {
  background-color: #101828;
  height: 42px;
  overflow: hidden;
  padding-left: 0;
  position: absolute;
  top: 295px;
  left: calc(~"100% - 317px");
  width: 300px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;

  &:hover {
    height: auto;
    background-color: #1e2636
  }

  li {
    line-height: 42px;

    &:first-of-type a {
      color: #fff
    }

    a {
      display: block;
      color: #fff;
      padding-left: 10px;

      &:hover {
        background: #9e9e9e
      }
    }
  }
}

.side a[href$="#noflair-icon"] {
  border-top: 1px solid #eee
}

.side a[href$="#news-icon"] {
  background: #17233a
}

.side a[href$="#event-icon"] {
  background: #1f2e4c
}

.side a[href$="#guide-icon"] {
  background: #26395f
}

.side a[href$="#gauntlet-icon"] {
  background: #2d4471
}

.side a[href$="#vod-icon"] {
  background: #344f83
}

.side a[href$="#artwork-icon"] {
  background: #3c5a95
}

.side a[href$="#abyssian-icon"] {
  background: @abyssian;
}

.side a[href$="#magmar-icon"] {
  background: @magmar;
}

.side a[href$="#lyonar-icon"] {
  background: @lyonar;
  color: #000 !important
}

.side a[href$="#songhai-icon"] {
  background: @songhai;
}

.side a[href$="#vanar-icon"] {
  background: @vanar;
  color: #000 !important
}

.side a[href$="#vetruvian-icon"] {
  background: @vetruvian;
}

.search-page #search,
ul.res-search-tabs {
  display: inline-block
}

.side .md > h3:nth-of-type(4):hover + ul:before,
.thing[data-author=duelystwikibot]:hover .usertext-body:before {
  display: none
}

.usertext-body table > tbody > tr:nth-of-type(even) {
  background: #eee
}

.thing[data-author=duelystwikibot] {
  form {
    height: 25px;
    overflow: hidden
  }

  &:hover form {
    height: auto
  }

  .usertext-body:before {
    content: '[ HOVER TO SHOW ]';
    font-size: 16px;
    position: relative;
    top: 5px
  }
}

.subreddit-rules-page {
  padding-top: 50px;

  &:before {
    top: 50px
  }
}
