body {
  background-color: #e6e6e8;
}

h2 {
  color: #252525;
  font-size: 18px;
  font-weight: normal;
}

button {
  .default-button;
}

.choice.primary,
.selected {
  font-weight: 600;
}

.deepthread {
  font-weight: bold;
  font-size: 9px;
  text-transform: uppercase;

  &:after {
    background-image: none;
    content: ">";
    font-size: 12px;
    font-weight: bold;
    color: white;
  }

  a {
    color: @royal-blue;
  }
}

.markdownEditor .edit-btn:not(.btn-macro) {
  background-color: transparent;
  border: 1px solid #c6c6c6;
  border-radius: @default-border-radius;
}

.search-expando-button-label {
  &-collapsed,
  &-expanded {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
  }
}

.BEFoot button {
  margin-right: 5px;
}

.loadFlat {
  position: relative;
  z-index: 1;
  font-size: 10px;
  margin-left: 10px;
  transition: 0.2s;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: @royal-blue;
  }
}

.commentNavSortType:hover,
.commentarea .menuarea .toggle a:hover {
  text-decoration: none;
}

#img-name:focus {
  border-bottom: 2px solid;
}

#NERFail {
  padding-top: 20px;
  border: none;
}

a.madeVisible {
  margin-top: 20px;
}

img.RESImage {
  border-radius: 12px;
}

.action-form {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  max-width: 300px;
  padding: 20px;
  margin: 5px 0;
  font-size: 12px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 999;

  button {
    margin-right: 10px;
  }

  ol {
    margin-bottom: 15px;
  }

  input:disabled {
    display: none;
  }
}

.pretty-button {
  background: none;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;

  &.negative {
    color: #d10023;
  }

  &.neutral {
    color: #444;
  }

  &.positive {
    color: #2b8b27;
  }

  &.pressed {
    font-size: 0;

    &:after {
      text-transform: uppercase;
      font-size: 10px;
      content: "Action Done";
      font-weight: bold;
    }
  }
}

ul.report-reasons {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.res-commentBoxes .nestedlisting {
  > .comment {
    margin: 0 0 8px;
  }
  .comment {
    overflow: visible;
  }
}

.menuarea {
  overflow: visible;
}

.tabpane-content {
  border: none;
}

.linefield {
  background: 0 0;

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: @royal-blue;
  }
}

.flairgrant.flairlist {
  padding: 10px;
}

.flair-jump button {
  font-size: 12px;
}

.fancy-settings h1 {
  margin: 10px 5px;
  text-transform: uppercase;
  padding: 20px 30px 5px;
  font-size: 18px;
}

#img-name,
.flairlist .flair-jump input[type=text] {
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
  display: block;
  font-size: 22px;
  margin-bottom: 20px;

  &:hover {
    border-color: #666;
  }
}

.flairlisthome {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.flairrow,
.stylesheet-customize-container h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

#img-preview-container {
  border: none;
  background: #444;
  border-radius: 20px;
  margin: 25px 10px -25px 0;
  padding: 10px;
}

.flairlist.usertable {
  margin-top: 35px;
}

div#images {
  margin-left: 20px;
  padding-right: 20px;
}

ul#image-preview-list {
  margin: 20px -15px -15px;
  padding-top: 0;

  li {
    background: white;
    padding: 8px;
    margin: 0 0 5px 5px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    width: 296.5px;
    height: 100px;
    font-size: 14px;
    color: @base-font-color-lighter;
  }

  .preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 0;
    margin: auto 0;
    line-height: 98px;

    img {
      vertical-align: middle;
    }
  }
}

#search input[type=text],
.login-form-side input[type=password],
.login-form-side input[type=text],
.md textarea {
  font-family: -apple-system, "San Francisco Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#mail {
  &.nohavemail {
    .sprite-icon;
    background-position: 0 0;
  }

  &.havemail {
    .sprite-icon;
    background-position: 0 -58.66px;
  }
}

#modmail {
  &.nohavemail {
    .sprite-icon;
    background-position: 0 -82px;
  }

  &.havemail {
    .sprite-icon;
    background-position: 0 -105.33px;
  }
}

#modmail.havemail,
#modmail.nohavemail {
  margin-bottom: 0;
}

#header-bottom-right a.pref-lang.choice,
#mail.havemail,
#mail.nohavemail,
#modmail.havemail,
#modmail.nohavemail {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 0;
}

.separator {
  visibility: hidden;
}

.livePreview,
.livePreview .md {
  text-transform: none;
}

.new-comment .usertext-body {
  border: none;

  .md {
    outline: 0;
    border: 0;
  }
}

.organic-listing {
  border: 0;
}

.icon-menu a {
  background: none;
}

.searchfacet a {
  color: #434343;
}

.dropdown {
  .lightdrop .selected {
    text-decoration: none;
  }

  .srdrop .selected {
    color: white;
  }
}

.panestack-title a.title-button {
  position: relative;
  z-index: 2;

  &,
  &.gold {
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
    color: white;
    border: none;
    border-radius: @default-border-radius;
    background: @royal-blue;

    &:hover {
      background: @cornflower-blue;
    }

    &:active {
      background: @endeavour;
    }
  }
}

.roundfield {
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: @default-box-shadow;
  background: white;
  width: auto;
  padding: 15px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: @default-border-radius;

  .title {
    color: @base-font-color-lighter;
  }

  input[type=text] {
    margin-bottom: 15px;
  }

  .usertext-edit,
  input[type=number],
  input[type=password],
  input[type=text],
  input[type=url],
  textarea {
    width: 100%;
  }

  input[type=text],
  input[type=url],
  textarea {
    transition: 0.3s;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    height: 25px;
  }
}

.formtabs-content {
  border: none;
  width: auto;

  .infobar {
    font-size: @base-font-size;
    font-weight: bold;
    border: none;
    padding: 20px;
    border-radius: @default-border-radius;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: @default-box-shadow;
  }
}

a.author.admin:after,
a.author.admin:before,
a.author.moderator:after {
  content: "";
}

#progressIndicator {
  font-weight: bold;
  text-align: left;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 10px;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 12px;
  color: @base-font-color-lighter;

  &,
  & h2 {
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.md {
  h1,
  p,
  ul {
    line-height: 20px;
  }
}

/* stylelint-disable declaration-no-important */
// important used here in order to work with RES
.arrow {
  &.down,
  &.downmod,
  &.up,
  &.upmod {
    background-image: url(%%spritesheet%%) !important;
    background-size: 38px 382px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  &.up {
    background-position: 2px -312px !important;
  }

  &.down {
    background-position: 2px -328px !important;
  }

  &.upmod {
    background-position: 2px -294px !important;
    background-color: @theme-primary;
  }

  &.downmod {
    background-position: 2px -346px !important;
    background-color: @theme-secondary;
  }
}
/* stylelint-enable */

.side div.score,
span.totalvotes {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  padding: 0 16px;
}

@keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes godown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.midcol-spacer {
  width: 40px;
  margin: 10px 0;
}

#searchexpando {
  border-radius: 0 0 @default-border-radius @default-border-radius;
  background: @base-dark-bg;
  border: none;
  box-shadow: @default-box-shadow;
  color: white;
  margin-top: 0;
}

@-webkit-keyframes search {
  0% {
    padding-left: 125px;
  }
  8% {
    padding-left: 107px;
  }
  15% {
    padding-left: 89px;
  }
  30% {
    padding-left: 71px;
  }
  50% {
    padding-left: 53px;
  }
  60% {
    padding-left: 18px;
  }
  100% {
    padding-left: 6px;
  }
}

@keyframes search {
  0% {
    padding-left: 125px;
  }
  8% {
    padding-left: 107px;
  }
  15% {
    padding-left: 89px;
  }
  30% {
    padding-left: 71px;
  }
  50% {
    padding-left: 53px;
  }
  60% {
    padding-left: 18px;
  }
  100% {
    padding-left: 6px;
  }
}

.morelink {
  .default-button;
  line-height: 1;
  padding: @base-margin;
  height: auto;

  .nub {
    display: none;
  }
}

.disabled .morelink,
.disabled .morelink:hover {
  background-image: none;
  top: 314px;
  position: absolute;
  width: 300px;
}

.infobar {
  background: #f2f2f2;
  border: 1px solid #ebebeb;

  &.newsletterbar {
    display: none;
  }
}

.reddit-infobar {
  .base-site-table;
  margin-bottom: 10px;
  border: 0;
  border-radius: @default-border-radius;
}

.message-count {
  left: 2px;
  background-color: @theme-primary;
  position: relative;
  top: -2px;
}

.content {
  .entry .buttons li.reported-stamp,
  .over18 .entry .buttons li.reported-stamp,
  .stickied .entry .buttons li.reported-stamp {
    border: none;
    background: @base-font-color-lighter;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px 8px;
    border-radius: 20px;
    font-size: 9px;
  }

  &.submit .info-notice {
    font-size: 12px;
    background-color: white;
    border: none;
  }
}

form#image-upload.image-upload {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 25px;
  padding: 9px;
  line-height: 24px;
  font-size: 10px;
  margin-bottom: 20px;
  color: @base-font-color-lighter;
}

.flairsample-left {
  text-align: left;
}

.login-form-side {
  border: none;
  padding: 16px;
  margin-top: -10px;

  input[type=password],
  input[type=text] {
    .border-box;
    font-size: 11px;
    border: 1px solid #999;
    width: 258px;
  }

  #remember-me * {
    vertical-align: middle;
  }

  .submit {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
  }
}

.stickied a.title:link,
.stickied a.title:visited {
  color: #2b8b27;
}

.over18 a.title:link,
.over18 a.title:visited {
  color: #d10023;
}

.error {
  font-size: 12px;
  color: @royal-blue;
  text-transform: uppercase;
  font-weight: bold;
}

.col {
  border: none;
}

#mail.havemail:before {
    position: fixed;
    bottom: 24px;
    z-index: 100;
    padding: 45px 0 10px;
    background: url(%%havemail%%) 85px 8px no-repeat rgba(0, 0, 0, 0.85);
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    color: white;
    width: 210px;
    height: 15px;
    left: 0;
    right: 0;
    content: "YOU HAVE NEW MESSAGES";
    text-indent: 30px;
    font-size: 11px;
    line-height: 1;
    transform: translateY(112px);
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
    margin: 0 auto;
    background-size: 32px;
    font-weight: bold;
    animation-name: toast;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

#mail.havemail:hover:before {
  animation-play-state: paused;
}

@-webkit-keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    opacity: 0;
  }
  25% {
    transform: translateY(-8px);
    opacity: 0.8;
  }
  27%, 92% {
    transform: translateY(0);
    opacity: 0.8;
  }
  97% {
    transform: translateY(16px);
    opacity: 0.8;
  }
}

@-o-keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    opacity: 0;
  }
  25% {
    transform: translateY(-8px);
    opacity: 0.8;
  }
  27%, 92% {
    transform: translateY(0);
    opacity: 0.8;
  }
  97% {
    transform: translateY(16px);
    opacity: 0.8;
  }
}

@-moz-keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    opacity: 0;
  }
  25% {
    transform: translateY(-8px);
    opacity: 0.8;
  }
  27%, 92% {
    transform: translateY(0);
    opacity: 0.8;
  }
  97% {
    transform: translateY(16px);
    opacity: 0.8;
  }
}

@keyframes toast {
  0%, 100%, 20% {
    transform: translateY(76px);
    opacity: 0;
  }
  25% {
    transform: translateY(-8px);
    opacity: 0.8;
  }
  27%, 92% {
    transform: translateY(0);
    opacity: 0.8;
  }
  97% {
    transform: translateY(16px);
    opacity: 0.8;
  }
}

#progressIndicator a#NERStaticLink,
.comment .flat-list li a:hover,
.commentNavSortType:hover,
.commentarea .menuarea .toggle a:hover,
.link .domain a:hover {
  color: @royal-blue;
}

#img-name:focus,
.flairlist .flair-jump input[type=text]:focus,
.roundfield input[type=text]:focus,
.roundfield input[type=url]:focus,
.roundfield textarea:focus {
  border-color: @royal-blue;
}

.thing .md table thead tr th {
  background: #444;
}

.arrow.down,
.comment .arrow.downmod {
  &:hover:after {
    position: absolute;
    display: block;
    z-index: 11;
    width: 210px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(51, 20, 52, 0.75);
    color: white;
    content: "Keep this sub user-friendly - only downvote this post if it adds no value. Do not downvote based on opinion.";
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 3px 3px 3px #9c9b9b;
    opacity: 1;
  }
}

ul.res-search-tabs {
  display: inline-block;
}

.usertext-body table > tbody > tr:nth-of-type(even) {
  background: #eee;
}

.thing[data-author=duelystwikibot] {
  form {
    height: 25px;
    overflow: hidden;
  }

  &:hover {
    .usertext-body:before {
      display: none;
    }
    form {
      height: auto;
    }
  }

  .usertext-body:before {
    content: "[ HOVER TO SHOW ]";
    font-size: 16px;
    position: relative;
    top: 5px;
  }
}

.subreddit-rules-page {
  padding-top: 50px;

  &:before {
    top: 50px;
  }
}

.titlebox form.toggle,
.leavemoderator {
  background: transparent;
}
