.sprite-icon {
  background: url(%%spritesheet%%) !important;
  background-size: 50px 502px !important;
  width: 20px;
  height: 20px;
  vertical-align: middle !important;
}

.template-content-margin {
  margin: 0 @content-right-margin 0 @base-outer-margin;
}
